<nav class="navbar navbar-light bg-light">
  <%= link_to cocktails_path, class: 'navbar-brand' do %>
    <span>Just drink it.</span><i class="fas fa-check"></i>
  <% end %>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
    <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-outline-dark my-2 my-sm-0" %>
  </form>
<div class="container">

  <div class="card p-3">

  <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, "Create", class: "btn btn-outline-dark my-2 my-sm-0"%>
  <% end %>
</div>
</div>
