<div class="container">
  <h1>Add dose page</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.button :submit %>
  <% end %>
  <%= link_to "Back", cocktail_path(@cocktail)  %>

</div>
